.title {
    margin-top: 0px;
    color: rgb(8, 4, 17);
    text-decoration: none;
}

.text2{
    color: rgb(2, 0, 0);
    font-weight: lighter;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
}

.button{
    background-color: white;
    border-radius: 50px;
    border-color: transparent;
    color: red;
    font-weight: lighter;
    justify-content: center;
    text-shadow: 2px 2px 2px rgb(25, 25, 25);
}
.button:hover{
    cursor: pointer;
    background-color: red;
    color: white;
    font-weight: lighter;
    justify-content: center;
    text-shadow: 2px 2px 2px rgb(25, 25, 25);
}

.pokedex{
        position: relative;
}